.mg-div {
    margin-bottom: 80px;
}

div.a {
    width: 150px;
    height: 80px;
    background-color: yellowgreen;
    transform: rotate(20deg);
}

div.b {
    width: 150px;
    height: 80px;
    background-color: yellowgreen;
    transform: skewY(20deg);
}


div.c {
    width: 150px;
    height: 80px;
    background-color: yellowgreen;
    transform: scale(1.5);
}