/* #acessar id*/
/* . acessar class */

.mafalda {
    color: blue;
    background-color: blueviolet;
}

.natal {
    color: red

}

.pascoa {
    color: green;
}

div {
    background-color: aqua;

}