h1 {
    font-size: 40px;
    color: transparent;
    background-image: linear-gradient(red, blue);
    text-shadow: 2px 2px 8px blueviolet;
    background-clip: text;
    -webkit-background-clip: text;
}

.cor-vermelho {
    width: 100%;
    height: 40px;
    background-color: red;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px red;
    opacity: 0.6;
    border-radius: 2px 2px 5px 5px;
}

.cor-laranja {
    width: 80%;
    height: 40px;
    background-color:orange;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px orange;
    opacity: 0.6;
    border-radius: 10px;
}

.cor-amarelo {
    width: 70%;
    height: 40px;
    background-color: yellow;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px yellow;
    opacity: 0.6;
    border-radius: 10px;
}


.cor-verde {
    width: 60%;
    height: 40px;
    background-color: green;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px green;
    opacity: 0.6;
    border-radius: 10px;
}


.cor-azul {
    width: 40%;
    height: 40px;
    background-color: blue;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px blue;
    opacity: 0.6;
    border-radius: 10px;
}


.cor-anil {
    width: 30%;
    height: 40px;
    background-color: indigo;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px indigo;
    opacity: 0.6;
    border-radius: 10px;
}


.cor-violeta {
    width: 20%;
    height: 40px;
    background-color: violet;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px violet;
    opacity: 0.6;
    border-radius: 10px;
}