p[id] {
  color: rgb(255, 64, 64);
}
/* valor exato */
input[value="inicio123"] {
  border: 2px solid red;
}
/* começa com */
input[value="inicio"] {
  border: 2px solid rgb(38, 0, 255);
}
/* $ termina com */
input[value$="456"] {
  border: 2px solid rgb(50, 199, 50);
}

/* * contem */
input[value*="meio"] {
    border: 2px solid black;
}

/* igual ou seguido de hífen */
input[value*="pt"] {
    border: 2px solid purple;
}